In [16]:
#Q1]Create a python program to sort the given list of tuples based on integer value using a
#lambda function.[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
#Ans:-
a=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
a.sort(key= lambda x:x[1])
a

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [21]:
# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
# lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Ans:-
number=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result=map(lambda x:x**2,number)
list(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
#Q3]Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions
#Ans:-
num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ans=map(lambda x:str(x),num)
list(ans)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [29]:
#Q4]Write a python program using reduce function to compute the product of a list containing numbers
#from 1 to 25.
#Ans:-
s=[]
for i in range(1,26):
    s.append(i)
import functools
print(functools.reduce(lambda a,b:a*b,s))

15511210043330985984000000

In [34]:
# Q5]Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
# filter function.
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
#Ans:-
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
ans=filter(lambda a:a if a%2==0 or a%3==0 else None,l)
list(ans)

[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [37]:
# Q6]Write a python program to find palindromes in the given list of strings using lambda and filter
# function.
# Ans:-
coll=['python', 'php', 'aba', 'radar', 'level']
ans=filter(lambda a:a if a==a[::-1] else None ,coll)
list(ans)

['php', 'aba', 'radar', 'level']