In [2]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
#  A database is an organized collection of data . It provides a structured way to store, retrieve, and manipulate data efficiently. Databases are widely used in various applications and industries to handle large amounts of information.
# SQL Databases:
# 1.SQL databases are based on the relational data model. 
# 2.They use SQL as the standard language for defining, manipulating, and querying the data. 
# 3.SQL databases enforce strict data consistency and integrity through features like ACID 
# 4.Examples of SQL databases include MySQL, PostgreSQL, Oracle Database
# NOSQL Databases:
# 1.NoSQL databases encompass a variety of data models and are designed to handle large volumes of unstructured or semi-structured data.
# 2.They provide flexible schemas, allowing for dynamic changes to the data structure without requiring a predefined schema.
# 3.NoSQL databases use different data models like key-value, document, columnar, or graph, depending on the specific database system.
# 4.Examples of NoSQL databases include MongoDB, Cassandra, CouchDB, Redis

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and views.

# CREATE:
# The CREATE command is used to create new database objects, such as tables, views, indexes, etc
# Example:
# CREATE TABLE books (
#   book_id INT PRIMARY KEY,
#   title VARCHAR(100) NOT NULL,
#   author VARCHAR(50) NOT NULL,
#   publication_year INT
# );
# DROP:
# The DROP command is used to remove existing database objects, such as tables or indexes, from the database.
# Example:
# DROP TABLE books;
# ALTER:
# The ALTER command is used to modify the structure of an existing database object, such as adding or removing columns from a table or changing the data type of a column.
# Example:
# ALTER TABLE books
# ADD genre VARCHAR(50);
# TRUNCATE:
# The TRUNCATE command is used to remove all the data from a table, but the table structure remains intact.
# Example:
# TRUNCATE TABLE books;

In [4]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate or modify the data within a database. 
# INSERT:
# The INSERT command is used to add new records into a table. It allows you to specify the values for each column or insert data from another table.
# Example:
# INSERT INTO employees (employee_id, first_name, last_name, salary)
# VALUES (1, 'John', 'Doe', 5000);
# UPDATE:
# The UPDATE command is used to modify existing records in a table. It allows you to update specific columns with new values based on certain conditions.
# Example:
# UPDATE employees
# SET salary = 6000
# WHERE employee_id = 1;
# DELETE:
# The DELETE command is used to remove records from a table. It allows you to delete specific rows based on certain conditions.
# Example:
# DELETE FROM employees
# WHERE salary < 5000;

In [5]:
# Q4. What is DQL? Explain SELECT with an example.
# DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve or query data from a database. 
# Example:
# SELECT * FROM students;

In [ ]:
# Q5. Explain Primary Key and Foreign Key.
# Primary Key:
# A primary key is a column or a set of columns in a database table that uniquely identifies each record or row in that table. It serves as a unique identifier and ensures the integrity and uniqueness of the data within the table. Here are some key points about primary keys:
# Foreign Key:
# A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables. It references the primary key of another table and helps enforce referential integrity. Here are some key points about foreign keys:

In [8]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

# Establishing the connection
connection = mysql.connector.connect(
  host="localhost",
  user="root",
  password="jai@31072003",
)

# Creating a cursor object
cursor = connection.cursor()

# Executing SQL queries
query = "SELECT * FROM college_project.emp"
cursor.execute(query)

# Fetching and printing the results
result = cursor.fetchall()
for row in result:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()

(1, 'Jai', 'Manager', '20')
(2, 'Neha', 'Clerk', '21')
(3, 'karan', 'Analyst', '20')
(4, 'Shyam', 'Assistant', '30')

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
# In a typical SQL query, the order of execution of the SQL clauses is as follows:

# FROM: The FROM clause is the first clause to be executed. It specifies the table(s) from which the data will be retrieved.

# WHERE: The WHERE clause is executed after the FROM clause. It filters the data based on specified conditions and selects only the rows that meet the criteria.

# GROUP BY: The GROUP BY clause is executed after the WHERE clause. It groups the selected rows based on specified columns.

# HAVING: The HAVING clause is executed after the GROUP BY clause. It filters the grouped data based on specified conditions.

# SELECT: The SELECT clause is executed after the HAVING clause. It selects the specific columns to be retrieved from the result set.

# DISTINCT: If the DISTINCT keyword is used, it is executed after the SELECT clause. It removes duplicate rows from the result set.

# ORDER BY: The ORDER BY clause is executed after the SELECT or DISTINCT clause. It sorts the result set based on specified columns in ascending or descending order.

# LIMIT/OFFSET: The LIMIT and OFFSET clauses are executed last, if present. They restrict the number of rows returned from the result set and allow pagination.