In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(my_list)

# Print the Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# Q3. Create a Pandas DataFrame that contains the following data:
import pandas as pd

# Create a list of lists with data
data = [
    ['Alice', 25, 'Female'],
    ['Bob', 30, 'Male'],
    ['Charlie', 27, 'Female']
]

# Create a DataFrame from the list of lists
df = pd.DataFrame(data, columns=['Name', 'Age', 'Gender'])

# Print the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

In [6]:
# # Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# In Pandas, a DataFrame is a 2-dimensional labeled data structure that can hold data of different types.
# On the other hand, a Pandas Series is a 1-dimensional labeled array that can hold data of a single data type, such as integers, floats, strings, etc.
#  It is like a single column of data in a DataFrame. 
ser_type=type(series)
df_type=type(df)
print(ser_type,df_type)

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [7]:
# # Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# # you give an example of when you might use one of these functions?
# head() and tail(): These functions are used to display the first few rows (head()) or the last few rows (tail()) of the DataFrame
print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [8]:
print(df.tail(1))

      Name  Age  Gender
2  Charlie   27  Female

In [10]:
# info(): This function provides a summary of the DataFrame, including the data types of each column, non-null counts, and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [ ]:
# # Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# Series: A Pandas Series is mutable, meaning you can modify the elements in a Series after it is created. You can change the values, 
# add new elements, or remove existing elements.

# DataFrame: Similarly, a Pandas DataFrame is also mutable. You can modify the data within the DataFrame, add or delete columns,
#  and perform various data manipulations.

# Panel: In older versions of Pandas, a Panel was a 3-dimensional data structure. However, it was often considered complex
#  and not as practical as using multi-indexed DataFrames. As a result, Panel was deprecated and later removed from Pandas.

In [11]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd

# Create three Pandas Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
age_series = pd.Series([25, 30, 22, 28])
city_series = pd.Series(['New York', 'San Francisco', 'London', 'Paris'])

# Combine the Series into a DataFrame
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'City': city_series
})

# Print the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22         London
3    David   28          Paris